*{
    margin: 0; padding: 0; box-sizing: border-box;

}

body{
    background-color: #0f0f0f;
}
header{
    display: flex;
    align-items: center;
background-color: rgba(0,0,0,0.5);
    height: 15vh;
    justify-content: space-between;
}
.backicon a{
    text-decoration: none;
}
.backicon{
    padding-left: 20px;
}
#back{
    font-size: 50px;
    color: rgb(126, 216, 133);
 
 justify-content: center;
 align-items: center;
 
}

.agentinfo{
    width: 300px;
}

.main{
height: 140vh;
background-repeat: no-repeat;
}

.team{
height: 40vh;
display: flex;
/* img of team goes here  */
background-image: url(/ooty.jpg);

background-repeat: no-repeat;
background-size: cover;
background-position: center;
align-items: center;
padding-left: 80px;
}
.container{
    padding-top: 30px;
display: flex;
padding-left: 20px;

}

.containertwo{
background-color: black;
padding-left: 20px;
height: 60vh;
padding-bottom: 50px;
}

.heading2{
color: rgb(126, 216, 133);
padding-left: 10px;
text-transform: capitalize;
}


.img{
    width: 320px;
    height: 600px;
    text-align: center;
    border: 1px rgb(126, 216, 133) solid;
}
.sidebar{
    padding-left: 20px;
}
.agentimg{
    width: 250px;
    padding: 20px 0px 10px 0px;

}
.name{
    color: rgb(126, 216, 133);
  text-align: center;
  font-family: 'Poppins', sans-serif;
  
}
.abtagent{
    padding-top: 30px;
    color: white;
    padding-left: 13px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.about{
text-align: left;
padding-left: 10px;
    width: 70vw;
border: 1px solid rgb(126, 216, 133);
}
.heading{
    font-size: 70px;
    color: rgb(126, 216, 133);
}
.abt{
    color: white;
    font-family: 'Poppins', sans-serif;
}
.logo{
   
    height: 170px;
    width: 170px;
}
.containertwo h2{
    padding: 10px 0 20px 0;

   font-size: 40px;
}
.images{
    display: flex;
    height: 44vh;
 width: 97vw;
 gap: 25px;
}
.imgholder{
    padding-top: 40px;
   padding-left: 10px;
   color: white;
   text-align: center;
   font-family: 'Poppins', sans-serif;
   font-size: 20px;
   border: 1px rgba(0,0,0,0.5) solid;
   width: 18vw;
   
}

#bimg{
    width: 250px;
height: 150px;
}
.imgholder a{
    text-decoration: none;
    color: rgb(126, 216, 133);
    text-transform: capitalize;
}





.footer{
    background-color: rgba(0,0,0,0.5);

}

.copy{
    color: rgb(126, 216, 133);
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;

}
.connectbox{
    display: flex;
    justify-content: flex-end;
}
.connect{
    width: 20vw;
   
}

.connect h4{
    word-spacing: 5px;
    font-size: 20px;
    padding: 5px 0 5px 0;
    color: white;
    padding-left: 10px;
    font-family: 'Poppins', sans-serif;
}
#sicon{
    color: rgb(126, 216, 133);
    padding-left: 10px;
}


@media all and (max-width: 675px) {
header{
    height: 7vh;
    width: 100vw;
}
.team{
    width: 100vw;
}
.backicon{
    padding-left: 10px;
}
#back{
    font-size: 30px;
}
.container{
    display: block;
    
}
.main{
    height: 190vh;
}
.about{
    width: 320px;
    height: 50vh;
}
.sidebar{
    padding-top: 30px;
    padding-left: 0px;
   
}
.containertwo{
    height: 190vh;
width: 100vw;
}

.images{
display: block;
padding-left: 10px;
}
.imgholder {
    width: 75vw;
}


.footer{
    width: 100vw;
    height: 16vh;
}
.copy{
    height: 10vh;
}
.connectbox{
    display: flex;
    justify-content: flex-end;
}
.connect h4{
    font-size: 15px;
    word-spacing: 1px;
}
.connect{
    
    width: 35vw;
}
}
