*{
    margin: 0; padding: 0; box-sizing: border-box;

}
body{
    background-color: #0f0f0f;
}
header{
    display: flex;
    align-items: center;
background-color: rgba(0,0,0,0.5);
    height: 15vh;
    justify-content: space-between;
}
.backicon a{
    text-decoration: none;
}
.backicon{
    padding-left: 20px;
}
#back{
    font-size: 50px;
    color: rgb(126, 216, 133);
 
 justify-content: center;
 align-items: center;
 
}
.homeicon{
    padding-right: 20px;
}
#home{
    font-size: 50px;
    color: rgb(126, 216, 133);
 display: flex;
 justify-content: center;
 align-items: center;
 
}
.homeicon a{
    text-decoration: none;
}

.main{
    height: 260vh;
}
.bg{

height: 60vh;
background-image: url(/gokarna.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
.heading{
color: rgb(126, 216, 133);
font-size: 80px;
}
.abtc{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}
.content{
    background-color: rgba(0,0,0,0.4);
    height: 30vh;
    padding-left: 20px;
}

.container{
    padding-top: 20px;
    display: flex;
    height: 140vh;
}
.whyarea{
   padding-left: 20px;
    width: 60vw;
    height: 160vh;
}

.pack{
    border: 1px solid rgb(126, 216, 133);
    width: 63vw;
    height: 191vh;
   
    padding-top: 5px;
    
}
.heading2{
    color: rgb(126, 216, 133);
    text-transform: capitalize;
    padding-left: 5px;
    font-size: 40px;
}.logo2{
    width: 50px;
    height: 50px;
}

.formgroup{
    display: flex;
 margin-bottom: 8px;
 position: relative;
 float: left;
 flex-wrap: wrap;

 padding: 10px 0 10px 0;
 justify-content: space-between;
}

.box{
   
    color: white;  
    text-align: center; 
    border: 1px solid rgb(126, 216, 133);
    width: 250px;
    height: 620px;
    padding: 25px 25px 30px 0px;
   
}

.booking{
   
    display: block;
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    width: 20vw;
    padding-left: 30px;
    margin-top: 20px;
    height: 40vh;
    text-align: left;

}
#email{
    color: rgb(126, 216, 133);
  padding-left: 2px;
  padding-top: 2px;
}

#call{
    color: rgb(126, 216, 133);
  padding-left: 3px;
  padding-top: 2px;
}

.formbox{
   padding-left: 100px;
 padding-top: 20px;
   margin-bottom: 30px;
  
   width: 100%;
}
.enq{
    color: rgb(126, 216, 133);
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}
.btn{
    padding-left: 10px;
    
}
#go{
   text-decoration: none;
   color: rgb(126, 216, 133);
  font-size: 40px; 
  
}
.whybox{
    padding-left: 100px;
    padding-right: 50px;
    
    }
    
    .why{
        
     padding-left: 10px;
    width: 250px;
    height: 300px;
    border: 1px solid rgb(126, 216, 133);
    }
    
    .whyus{
    list-style: none;
    padding-top: 5px;
    color: white;
    font-family: 'Poppins', sans-serif;
    }
    
    .heading3{
        color: rgb(126, 216, 133);
        font-size: 25px;
    }
.sidebar{
   
    height: 140vh;
    width: 40vw;
}
.footer{
    background-color: rgba(0,0,0,0.5);

}

.copy{
    color: rgb(126, 216, 133);
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;

}
.connectbox{
    display: flex;
    justify-content: flex-end;
}
.connect{
    width: 20vw;
   
}

.connect h4{
    word-spacing: 5px;
    font-size: 20px;
    padding: 5px 0 5px 0;
    color: white;
    padding-left: 10px;
    font-family: 'Poppins', sans-serif;
}
#sicon{
    color: rgb(126, 216, 133);
    padding-left: 10px;
}

@media all and (max-width: 675px){
    header{
        height: 7vh;
        display: flex;
width: 100vw;
justify-content: space-between;
    }
    .bg{
        height: 30vh;
        width: 100vw;
    }
    .heading{
        font-size: 75px;
        padding-left: 8px;
    }
    .abtc{
        font-size: 11px;
        padding-left: 20px;
    }
    .backicon{
        padding-left: 10px;
    }
#back{
    font-size: 30px;
}
.homeicon{
    padding-right: 10px;
}
#home{
    font-size: 30px;
}

.container{
    display: inline;
}

.whyarea{
    padding-top: 20px;
    height: 110vh;
    padding-left: 50px;
}
.formbox{
    padding-top: 50px;
    padding-left: 50px;
}
.sidebar{
    padding-top: 20px;
    width: 100vw;
}
.main{
    height: 280vh;
    width: 100vw;
}
.box{
    height: 670px;
}
.pack{
    height: 900px;
    width: 70vw;
  
}
.whybox{
    padding-left: 50px;
}

.copy{
    height: 10vh;
}
.connectbox{
    display: flex;
    justify-content: flex-end;
}
.connect h4{
    font-size: 15px;
    word-spacing: 2px;
}
.connect{
    width: 35vw;
}
.heading2{
    font-size: 24px;
}
.content{
    padding-left: 0px;
}

}
