@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

*{
    margin: 0; padding: 0; box-sizing: border-box;
    
}

body{
    background-color: #0f0f0f;
}
header{
    display: flex;
    align-items: center;
background-color: rgba(0,0,0,0.5);
    height: 15vh;
    justify-content: space-between;
}
.backicon a{
    text-decoration: none;
}
.backicon{
    padding-left: 20px;
}
#back{
    font-size: 50px;
    color: rgb(126, 216, 133);
 
 justify-content: center;
 align-items: center;
 
}
.container{
    padding-left: 26px;
    padding-top: 30px;
}
.main{
 
    height: 220vh;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
}
.sep{
    padding: 35px 0 35px 0px;
}
.q{
    color: rgb(126, 216, 133);
    font-size: 40px;

}
.qbox{
height: 30vh;
padding-left: 10px;
border: rgb(126, 216, 133) 1px solid;
width: 95vw;


}

.container2{

    padding: 40px 0px 20px 25px;
}


.ask{
padding-left: 15px;
padding-top: 15px;
border: rgb(126, 216, 133) 1px solid;
width: 28vw;
height: 43vh;

}
.ques{
    color: rgb(126, 216, 133);
    font-size: 30px;
    padding-bottom: 10px;
    padding-top: 5px;
     
}
.ans{
    padding-top: 25px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    color: white;
}
.btnc{
    padding-left: 150px;  
}
.btn{
    
    font-size: 15px;
   
}
.footer{
    background-color: rgba(0,0,0,0.5);
}

.copy{
    color: rgb(126, 216, 133);
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;

}
.connectbox{
    display: flex;
    justify-content: flex-end;
}
.connect{
    width: 20vw;
   
}

.connect h4{
    word-spacing: 5px;
    font-size: 20px;
    padding: 5px 0 5px 0;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding-left: 10px;
}
#sicon{
    color: rgb(126, 216, 133);
    padding-left: 10px;
}

@media all and (max-width: 675px){
    header{
        height: 7vh;
        width: 100vw;
    }
    .container{
        padding-left: 50px;
        

    }
    .backicon{
        padding-left: 10px;
    }
    #back{
        font-size: 30px;
    }
    .q{
        font-size: 30px;
    }

    .ans{
        font-size: 15px;
    }

    .qbox{
        width: 60vw;
        height: 65vh;
    }
    .main{
        height: 320vh;
    }
.container2{
    padding-left: 50px;
    height: 65vh;
}
    .ask{
        width: 60vw;
        height: 50vh;
    }
    #question{
        width: 190px;
    }
.main{
height:390vh;
}

    .footer{
        height: 16vh;
    }

    .connect h4{
        font-size: 12px;
        word-spacing: 1px;
    }
    .copy{
        height: 10vh;
    }
    .connect{
        
        width: 35vw;
    }

.btnc{
    padding-left: 70px;
}
}
